<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> edit faculty</title>
    <link rel="stylesheet" href="/css/styles.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <%- include('layout/header') %>
    <div class="student-conatiner">
        <form id="add-student" enctype="multipart/form-data" action="/updatee/<%= faculty._id %>" method="post">
            <h2>Edit Faculty (<%= faculty.name %>)</h2>
            <table>
                <tr>
                    <td><label >Name</label></td>
                    <td><input value="<%= faculty.name  %>" type="text" name="name" placeholder="Enter Name" required></td>
                </tr>
                <tr>
                    <td><label for="reg-no">Faculty</label></td>
                    <td><input value="<%= faculty.faculty  %>" type="text" name="faculty" placeholder="Enter Faculty Number" required></td>
                </tr>
                <tr>
                    <td><label>Department</label></td>
                    <td><input type="text" value="<%= faculty.department  %>" name="department" placeholder="Enter Department" required></td>
                </tr>
                <tr>
                    <td><label>Qualification</label></td>
                    <td><input type="text" value="<%= faculty.qualification  %>" name="qualification" placeholder="Enter Qualification" required></td>
                </tr>
                <tr>
                    <td><label >Joined</label></td>
                    <td><input type="text" value="<%= faculty.joined  %>" name="joined" placeholder="Enter joined year" required></td>
                </tr>
                <tr>
                    <td><label>Experience</label></td>
                    <td><input type="text" value="<%= faculty.experience  %>" name="experience" placeholder="Enter Your Experience" required></td>
                </tr>
                <tr>
                    <td><label >DOB</label></td>
                    <td><input type="text" value="<%= faculty.dob  %>" name="dob" placeholder="Enter DOB" required></td>
                </tr>
                <tr>
                    <td><label>Address</label></td>
                    <td><input type="text" value="<%= faculty.address  %>" name="address" placeholder="Enter Address" required></td>
                </tr>
                <tr>
                    <td><label >mobile no</label></td>
                    <td><input type="text" value="<%= faculty.mobile_no  %>" name="mob-no" placeholder="Enter Mobile Number" required></td>
                </tr>
                <tr>
                    <td><label >attendance</label></td>
                    <td><input type="text" value="<%= faculty.attendance  %>" name="attendance" placeholder="  Enter attendance percentage" required></td>
                </tr>
                <tr>
                    <td><label >Login Password</label></td>
                    <td><input type="text" name="password" value="<%= faculty.password %>" placeholder="  Enter your login password" required></td>
                </tr>
                <tr>
                    <td><label >Image</label></td>
                    <td><img src="<%= faculty.image %>" href="#" width="100" class="img-thumbnail mt-1"></td>
                </tr>
                <tr>
                    <td><input type="hidden" name="old_name" value="<%= faculty.image  %>"></td>
                </tr>                </tr>
                <tr><td colspan="2"><button class="add_student" type="submit" name="submit" value="Add Faculty" >Submit</button></td></tr>
            </table>
        </form>
    </div>
        
    
    <%- include('layout/footer')%>
    
</body>
</html>