<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="css/studentinfo.css">
</head>

<body>
    <header>
        <h4 style="font-family: 'Big Shoulders Stencil Text', cursive;">StuFoTech<span class="material-symbols-outlined" style="margin-left: 5px; ">storage</span></h4>
        <a href="#" class="mn" id="mn" onclick="openbar()"><span class="material-symbols-outlined menu" id="menu">menu</span></a>
	    <a href="#" id="closebar" onclick="closebar()">X</a>
    </header>
    

    
<ul class="navbar2" id="navbar2">
	<a href="#"><li id="tive slave" style="	box-shadow: 
    inset 0px 11px 3px -10px black,
    inset 0px 11px 3px -10px black; ">Profile</li></a>
	<a href="#"><li id="slave">Faculties</li></a>
	<a href="#"><li id="slave">Academics</li></a>
	<a href="#"><li id="slave">Library</li></a>
    
</ul>


<body>
	<div class="image">
		<center><img src="<%= image %>" alt="Student">
		
		<h2><%= name  %></h2>
		<p><%= roll_no  %></p>
	
	</div>
	<div class="info">
	
		<table>
			<tr><td class="a" style="white-space: nowrap;">Register No</td>
                <td>:&#160;</td>
                <td class="c"><%= registor_no  %></td>
            </tr>
            <tr><td class="a">Department</td>
                <td>:&#160;</td>
                <td class="c"><%= dept  %></td>
            </tr>	
            <tr><td class="a">Year</td>
                <td>:&#160;</td>
                <td class="c"><%= year  %></td>
            </tr>
            <tr><td class="a">Section</td>
                <td>:&#160;</td>
                <td class="c"><%= section  %></td>
            </tr>
             <tr><td class="a">Semester</td>
                <td>:&#160;</td>
                <td class="c"><%= semester  %></td>
            </tr>
            <tr><td class="a">DOB/Age</td>
                <td>:&#160;</td>
                <td class="c"><%= dob  %></td>
            </tr>
			<tr><td class="a">Address</td>
                <td>:&#160;</td>
                <td class="c add"><%= address  %></td>
            </tr>
			<tr><td class="a">Mobile No</td>
                <td>:&#160;</td>
                <td class="c"><%- mobile_no  %></td>
            </tr>

			
		</table>

		
		<a href="#"><div class="attendance">
			<span class="material-symbols-outlined">edit_calendar</span>
			<table>
				<tr><td class="att">Attendance</td><td>:&#160;</td><td class="attv"><%= attendance  %>%</td></tr>
			</table>
		</div></a>
		<a href="#"><div class="fees">
			<span class="material-symbols-outlined">payments</span>
			<table>
				<tr><td class="att">Paid</td>
                    <td>:&#160;</td>
                    <td class="attv1"><%= fees  %>/-</td>
                </tr>
				<tr><td class="att2">Balance</td>
                    <td>:&#160;</td>
                    <td class="attv2">25,000/-</td>
                </tr>
				
			</table>
		</div></a>

	</div>

    <script>
        function openbar(){
    document.getElementById("navbar").classList.add("open");
    document.getElementById("mn").remove();
    document.getElementById("closebar").classList.add("closed");
}
function closebar() {
    document.getElementById("navbar").classList.remove("open");
    document.getElementById("closebar").remove();
    document.getElementById("mn").add();



}
    </script>
</body>